[Desktop Entry]
Type=Application
Name=packagemonkey
GenericName=packagemonkey
Comment=Tool to make packaging easier
Exec=packagemonkey %U
Icon=packagemonkey
Terminal=false
Categories=Utility;
