[Desktop Entry]
Type=Application
Name=Packagemonkey
GenericName=Packagemonkey
Comment=Tool to make packaging easier
Exec=packagemonkey %U
Icon=packagemonkey
Terminal=false
Categories=Utility;ConsoleOnly;
